<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS learn</title>

    <script src="new.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" rel="noopener" target="_blank" href="new.css">
</head>

<body>
    <!-- <div id="app">
        <div class="person">
            <input type="text" v-model="name">
            <h3>{{greet()}}</h3>
            <h3>I work as {{job}}</h3>
        </div>
        <pre>
            {{$data | json}}
        </pre>
    </div> -->

    <div id="app">
        <div class="container">
            <div class="calculator">
                <div class="answer">{{answer}}</div>
                <div class="display">{{ logList + current }}</div>
                <div @click="clear" id="clear" class="btn operator">C</div>
                <div @click="sign" id="sign" class="btn operator">+/-</div>
                <div @click="percent" id="percent" class="btn operator">
                    %
                </div>
                <div @click="divide" id="divide" class="btn operator">
                    /
                </div>
                <div @click="append('7')" id="n7" class="btn">7</div>
                <div @click="append('8')" id="n8" class="btn">8</div>
                <div @click="append('9')" id="n9" class="btn">9</div>
                <div @click="times" id="times" class="btn operator">*</div>
                <div @click="append('4')" id="n4" class="btn">4</div>
                <div @click="append('5')" id="n5" class="btn">5</div>
                <div @click="append('6')" id="n6" class="btn">6</div>
                <div @click="minus" id="minus" class="btn operator">-</div>
                <div @click="append('1')" id="n1" class="btn">1</div>
                <div @click="append('2')" id="n2" class="btn">2</div>
                <div @click="append('3')" id="n3" class="btn">3</div>
                <div @click="plus" id="plus" class="btn operator">+</div>
                <div @click="append('0')" id="n0" class="zero">0</div>
                <div @click="dot" id="dot" class="btn">.</div>
                <div @click="equal" id="equal" class="btn operator">=</div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>

</html>